.footer {
  text-align: center; 
  font-size: 0.875rem;  
  padding-top: 2rem;
  padding-bottom: 2rem;  
  border-top: 3px solid #c62d44;
}

.footer__logo {
  width: 12rem;
  margin-bottom: 1rem;
}

.footer__text {
  margin: 0.25rem 0;
  font-weight: 500;
  line-height: 1.5;
}

.footer__list-social-media {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer__item-social-media {
  width: 4.5rem;
}

.footer__item-social-media a{
  display: inline-block;    
  width: 100%;
  padding: 0.5rem 1rem; 
  transition: all 0.3s ease-in-out; 
}

.footer__item-social-media a:hover{
  transform: translateY(3px);
}

.footer__item-social-media img{
  width: 100%;  
}

.footer__info, .footer__links, .footer__newsletter {
  margin-top: 2rem;
}

.footer__title {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;  
  line-height: 1.5;
}

.footer__item a{
  font-weight: 500;
  display: inline-block;
  padding: 0.4rem 0;   
}

.footer__item a:hover{
  text-decoration: underline;
}

.footer__newsletter-form {  
  margin-top: 1rem;
}

.footer__newsletter-input {
  padding: 0.5rem;
  border: 2px solid #e93d50;
  border-radius: 8px; 
  width: 10rem;   
}

.footer__newsletter-submit {
  border-radius: 8px;
  background-color: #e93d50;    
  color: #fff;
  border: none;
  font-weight: 700;
  padding: 0.5rem;
  font-size: inherit;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer__newsletter-submit:hover {
  background-color: #b83141;  
}

.footer__newsletter-text {
  max-width: 80%;
  margin: 0.25rem auto;  
  font-weight: 500;
  line-height: 1.5;
}

@media (min-width: 760px) and (max-width: 1200px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;        
  }
  
  .footer__info, .footer__links, .footer__newsletter {
    width: 45%;      
  }

  .footer__info {
    order: 1;
    margin-top: 3.5rem;
  } 

  .footer__newsletter {
    order: 2;  
    margin-top: 4.5rem;  
  }   
}

@media (min-width: 1201px) {
  .footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .footer__newsletter-text {
    max-width: 100%;    
  }  

  .footer__newsletter-input {
    width: 14rem;   
  }

  .footer__list-social-media {
    justify-content: flex-start;      
  }  

  .footer__item-social-media {
    width: 2.5rem;
    margin-right: 1rem;
  }
  
  .footer__item-social-media a{
    padding: 0;    
  }  
}